.profile {
  max-width: 330px;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 6px;
  box-shadow: var(--card-shadow);

  transform: scale(1);
  transition: transform var(--animation);
}

.profile:hover,
.profile:focus {
  transform: scale(1.02);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.avatar {
  margin-bottom: 10px;
  border-radius: 50%;
}

.name {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 500;
}

.tag {
  margin-bottom: 6px;
}

.stats {
  display: flex;
  background-color: #eee;
}

.item {
  flex-basis: calc(100% / 3);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}

.item:not(:last-child) {
  border-right: 1px solid #ccc;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
}
.quantity {
  font-weight: 600;
}
