.item {
  display: flex;
  align-items: center;
  width: 210px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: var(--card-shadow);
}

.status {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: var(--online-color);
}

.offline {
  composes: status;
  background-color: var(--offline-color);
}

.avatar {
  margin-right: 10px;
}

.name {
  font-size: 24px;
}
