.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 210px;
  margin: 10px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: var(--card-shadow);
}

.status {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: var(--online-color);
}

.online::before {
  content: 'Online';
  position: absolute;
  top: 10px;
  left: 10px;
  color: #212121;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-24px);
  transition: transform var(--animation), opacity var(--animation);
}

.item:hover .online::before {
  opacity: 1;
  transform: translateY(0);
}

.offline {
  composes: status;
  background-color: var(--offline-color);
}

.offline::before {
  content: 'Offline';
  position: absolute;
  top: 10px;
  left: 10px;
  color: #212121;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-24px);
  transition: transform var(--animation), opacity var(--animation);
}

.item:hover .offline::before {
  opacity: 1;
  transform: translateY(0);
}

.avatar {
  margin-right: 10px;
}

.name {
  font-size: 24px;
}
